//Colors
$fatTurqoise: rgb(88,184,209);
$fatTurqoiseLight: rgb(126,208,221);
$fatTurqoiseLightest: rgb(160,218,229);

$sproutGreen: rgb(136,183,0);
$sproutGreenLight: rgb(164,206,104);
$sproutGreenLightest: rgb(186,216,141);

$stiffGrey: rgb(60,69,74);
$stiffGreyLight: rgb(101,116,126);
$stiffGreyLightest: rgb(132,146,156);
$lightGrayBg: rgb(242, 243, 244);

$bavarianCarrot: rgb(229,103,22);
$bavarianCarrotLight: rgb(246,152,94);
$bavarianCarrotLightest: rgb(249,176,128);

$freakPink: rgb(218,17,121);
$freakPinkLight:rgb(238,112,169);
$freakPinkLightest:rgb(242,148,189);

//Forms
$input-radius: 2px;
